<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppression d'un revenus</title>
</head>
<body>
    <h1>Suppression d'un revenus</h1>
    <p>Voulez-vous vraiment supprimer ce revenus ?</p>
    <p>{{ revenus.libelle }}</p>
    <p>{{ revenus.montant }}</p>
    <p>{{ revenus.periodicite }}</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Supprimer">
    </form>
</body>
</html>